body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}
.todoapp__mainheading{
    text-align: center;
    margin: 20px;
    margin-top: 35px;
}
.todoitem__deletebtn{
  width: 100px;
  height: 50px;
  font-size: 25px;
}
.todoitem__openbtn{
  width: 100px;
  height: 50px;
  font-size: 25px;
}
.todoitem__container{
  font-size: 25px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px;
  margin: 10px;
}
.displayflex{
  display: flex;
  justify-content: center;
}
.create-project-section{
  font-size: 25px;
}
.todolist_heading{
  font-size: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.form-popup{
  position: fixed;
  top: 250px;
  background-color: red;
}
.form-container{
  display: flex;
  flex-direction: column;
}
.form-container > label{
  font-size:large;
  font-weight: bold;
}
#todoForm{
  display: none;
}
.open-button{
  position: fixed;
  top: 250px;
}